// colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default; // light gray
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #a7a9ab !default; // gray product
$gray-600: #7c7e7d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #222222 !default;
$black: #151515 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f5164f !default;
$orange: #fd7e14 !default;
$yellow: #ffff00 !default;
$green: #00a652 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $yellow !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// global
$spacer: 1rem !default;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;
$box-shadow: 0 0 0.5em rgba($black, 0.2);

// breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// typography
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$line-height-lg: 1.5 !default;

//transitions
$transition-base: all 0.2s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;
