{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bootstrap Panini Starter</title>
        <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
        <link rel="stylesheet" href="{{ root }}assets/vendor/css/vendor.css" />
    </head>

    <body>
        {{> navbar}} {{> body}}

        <script src="{{ root }}assets/vendor/js/jquery.min.js"></script>
        <script src="{{ root }}assets/vendor/js/bootstrap.min.js"></script>
        <script src="{{ root }}assets/vendor/js/popper.min.js"></script>
        <script src="{{ root }}assets/vendor/js/vue.js"></script>
        <script src="{{ root }}assets/js/app.js"></script>
    </body>
</html>
